#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}








#header {
	background: #ffffff;
	width: 100%;
}
#header div {
	margin-left: 40px;
	margin-right: 40px;
	overflow: hidden;
	width: 1050px;
}
#header div img {
	float: left;
	margin-top: 10px;
}
#header div ul {
	float: right;
	list-style: none;
	margin: 40px 0 0;
	overflow: hidden;
	padding: 0;
}
#header div ul li {
	float: left;
	padding: 0 5px;
}
#header div ul li.current a {
	background: url(../images/bg-button.gif) no-repeat 0 0;
}
#header div ul li a {
	color: #495531;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	width: 90px;
}
#header div ul li a:hover {
	color: #82ae3f;
}




.btn-secondary{
	background-color: #434a45;
	border-color: #434a45;
}

.btn-primary{
	background-color: #f39c12;
	border-color: #f39c12;
	
}





